<% include ./partials/header %>
	<link rel="stylesheet" href="/stylesheets/main.css">
<body>

<main>

<div class="two-columns">
    <div>
     <img class="fit" src="images/me.jpg" alt="This is me!">
    </div>
    <div class="about">
    <h1>About</h1>
    <p class="short-about">Hello, this is Christy Hu! I'm born and raised in Shenzhen, China. I have lived in California for three years. I'm currently a UX Design Apprentice at <a href="http://bridgegood.org">BRIDGEGOOD</a>. I had a vivid interest in art at a very young age. I enjoy traveling, photographing, attending design meetups, and baking in my spare time. The software I use most is Adobe Illustrator. I design and code this website. Feel free to connect with me!</p>
    <div class="new-paragraph">
    <a href="mailto:huyj1109@gmail.com">Email</a>
    <a href="https://www.christyhu.website/christyhuresume.pdf" target="_blank">Resume</a>
    <a href="https://www.linkedin.com/in/christy-hu">LinkedIn</a>
    <a href="https://www.instagram.com/christyhuu/">Instagram</a>
    </div>
    </div>
</div>
</main>
	<% include ./partials/footer %>