
<% include ./partials/header %>
	<link rel="stylesheet" href="/stylesheets/main.css">

	<div class = "container">
		<div class ="row">
			<div class ="col-sm-12"
			<main>
				<h1>Hey! I'm Christy Hu, a visual design student in the San Francisco Bay Area. </h1>
		</main>
</div>
		</div>	
				
<div class ="row text-center">
	<div class ="col-md-6 col-sm-12">
		<div class = "card border-0">
			  
			<a href="/mxtea"> <img class ="card-img" src="images/graphic/mxtea/mxtea-home.JPG" alt="the tea package" a href="/mxtea" >
          	
				  <div class = "card-img-overlay text-center">
				<h4>MX.TEA
				<p>Brand Identity</p></h4>
				
			</div>
		 </a>
			
		</div>
		</div>
		  
      	    
			
	<div class ="col-md-6 col-sm-12">
			<div class = "card border-0">
            <a href="/inspireoakland"><img class="card-img" src="images/graphic/inspireoaklandbusbench.jpg" alt="billboard I designed"> 
              <div class = "card-img-overlay text-center">
				<h4>INSPIRE OAKLAND
					<p> Illustration </p></h4>
		     </div>
				</a>
		</div>
		</div>
	
        <div class ="col-md-6 col-sm-12">
             <div class = "card border-0">
            <a href="/fontdesign"><img class="card-img" src="images/graphic/thesubwaymemory-cover.jpg" alt="a typographic poster">
           	<div class = "card-img-overlay text-center">
				<h4>THE SUBWAY MEMORY
					<p> Font Design</p></h4>
		       </div>
	       </a>
		</div>
        </div>
			
	<div class ="col-md-6 col-sm-12">
		<div class = "card border-0">
            <a href="/demandposter"><img class="card-img" src="images/graphic/demandposters.jpg" alt="poster design">
    					<div class = "card-img-overlay text-center">
				<h4>STUDENTS DEMAND
					<p> Poster Design </p></h4>
		     </div>
		   </a>
		</div>
        </div>
    </div>

    
		

<% include ./partials/footer %>



