<% include ./partials/header %>
	<link rel="stylesheet" href="/stylesheets/main.css">
<body id="work">

<div class ="container">
    <div class = "row">
        <div class ="col-md-6 col-sm-12">
            <h1>Marketing Chair</h1>
			<br />
			
            <h3>Alpha Gamma Sigma Honor Sociey Gamma Psi Chapter</h3>
            <h3>October 2018 - May 2019</h3>
        </div>
	</div>
	
	<div class = "row">
            <div class ="col-md-3 col-sm-4 col-xm-4" ><img class="img-fluid" src="images/graphic/ags1.jpg"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4" ><img class="img-fluid" src="images/graphic/ags3.jpg"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4" ><img class="img-fluid" src="images/graphic/ags4.jpg"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4" ><img class="img-fluid" src="images/graphic/ags5.jpg"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4" ><img class="img-fluid" src="images/graphic/ags6.jpg"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4" ><img class="img-fluid" src="images/graphic/ags7.png"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4" ><img class="img-fluid" src="images/graphic/ags8.png"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4" ><img class="img-fluid" src="images/graphic/ags9.png"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4" ><img class="img-fluid" src="images/graphic/ags10.png"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4" ><img class="img-fluid" src="images/graphic/ags11.png"></div>
        </div>

<br />
<br />
			<div class ="row">
			<h1>Random</h1>
		</div>  
	
 <br />
<br /> 
    <div class="row">
            <div class ="col-md-3 col-sm-4 col-xm-4"><img class="img-fluid" src="images/graphic/socialmediaday_christy.jpg"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4"><img class="img-fluid" src="images/graphic/digitalliteracyday_christy.jpg"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4"><img class="img-fluid" src="images/graphic/techinclusionday_christy.jpg"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4"><img class="img-fluid" src="images/graphic/bizcard.jpg"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4"><img class="img-fluid" src="images/graphic/bookcovermockup.jpg"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4"><img class="img-fluid" src="images/graphic/infographic-01.jpg"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4"><img class="img-fluid" src="images/graphic/infographic-02.jpg"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4"><img class="img-fluid" src="images/graphic/loveurbody.png"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4"><img class="img-fluid" src="images/graphic/russianposter.jpg"></div>
            <div class ="col-md-3 col-sm-4 col-xm-4"><img class="img-fluid" src="images/graphic/helvticaposter.jpg"></div>
        </div>

</div>
	<% include ./partials/footer %>