<% include ./partials/header %>
	<link rel="stylesheet" href="/stylesheets/main.css">
<body id="work">

<main>
    <div>
        <div>
            <h1>Marketing Chair</h1>
            <h3>Alpha Gamma Sigma Honor Sociey Gamma Psi Chapter</h3>
            <h3>October 2018 - May 2019</h3>
        </div>
        <div class="ags-grid">
            <div><img class="fit" src="images/graphic/ags1.jpg"></div>
            <div><img class="fit" src="images/graphic/ags3.jpg"></div>
            <div><img class="fit" src="images/graphic/ags4.jpg"></div>
            <div><img class="fit" src="images/graphic/ags5.jpg"></div>
            <div><img class="fit" src="images/graphic/ags6.jpg"></div>
            <div><img class="fit" src="images/graphic/ags7.png"></div>
            <div><img class="fit" src="images/graphic/ags8.png"></div>
            <div><img class="fit" src="images/graphic/ags9.png"></div>
            <div><img class="fit" src="images/graphic/ags10.png"></div>
            <div><img class="fit" src="images/graphic/ags11.png"></div>
        </div>
    </div>

    <h1>Random</h1>
    <div class="ags-grid">
            <div><img class="fit" src="images/graphic/socialmediaday_christy.jpg"></div>
            <div><img class="fit" src="images/graphic/digitalliteracyday_christy.jpg"></div>
            <div><img class="fit" src="images/graphic/techinclusionday_christy.jpg"></div>
            <div><img class="fit" src="images/graphic/bizcard.jpg"></div>
            <div><img class="fit" src="images/graphic/bookcovermockup.jpg"></div>
            <div><img class="fit" src="images/graphic/infographic-01.jpg"></div>
            <div><img class="fit" src="images/graphic/infographic-02.jpg"></div>
            <div><img class="fit" src="images/graphic/loveurbody.png"></div>
            <div><img class="fit" src="images/graphic/russianposter.jpg"></div>
            <div><img class="fit" src="images/graphic/helvticaposter.jpg"></div>
        </div>
</main>
	<% include ./partials/footer %>