.navbar{
    font-family:'Muli', sans-serif;
	display: block;
    font-size: 20px;
}
/* #navbarNav{
   background: rgba(211, 171, 165,0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  padding-top: 80px;
} */


.navbar .navbar-nav a{
	color: #D3ABA5 !important;
}
.navbar .nav-link:hover{
 color:#1d4257 !important;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(211, 171, 165,0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
	 font-family:'Muli', sans-serif;
	display: block;
    font-size: 40px;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.nav-icon{
     font-size:30px;
     cursor:pointer;
     display: block;
     text-align: right;
}