<% include ../partials/header %>
	<link rel="stylesheet" href="/stylesheets/main.css">
<main>
<p class="disclaimer">This is a class project completed in ARTDM 171. This project was created for educational purposes at Diablo Valley College and is in no way intended for commercial gain or as a source of public information.</p>
<iframe src="kalegallery-website/index.html"></iframe>
   
       <div class="same-row">
<button class="previous-button"><a href="demandposter.html">Previous</a></button>
    <button class="next-button"><a href="mariana.html">Next</a></button>
</div>
   
    </main>
<% include ../partials/footer %>